<!-- app/views/sessions/new.html.erb -->
<h1>Login</h1>

<%= form_tag sessions_path do %>
  <label for="email">Email:</label>
  <%= text_field_tag :email %>

  <br>

  <label for="password">Password:</label>
  <%= password_field_tag :password %>

  <br>

  <%= submit_tag 'Login' , class:"bg-blue-500 text-white font-semibold py-2 px-4 rounded" %>
<% end %>
