<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />

  </head>
  <body>
    <div data-controller="calendar" id='calendar'></div>
    <%= link_to "Back", '/', class:'btn-primary'  %>
  </body>
</html>